:root{
    --green:#023020;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}



/* macht den blog container unter navbar*/
.section:not(.featured-articles){
    padding-block: 5rem;
}
/*passt alles zum grid*/
.d-grid{
    display: grid;
}





/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.list-link:hover{
    color: var(--light-color);
}





/*AB HIER BODY*/


/*Home Anfang*/
.home{
    display: flex;
    min-height:50rem;
    background:url(/Anhang/images/4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    
}
.home .content{
    text-align: center; 
}


/*Vesticum style*/
.home .content h1{
    font-size: 9rem;
    color:#ffffff;

}
/*Text-Shadow*/
h1{
    text-shadow: 2px 2px 8px #ffffff;
}

.home .content span{
    font-size: 3.5rem; /*beispieltext*/
    color:white;
    padding:1rem;
    line-height: 2;/*Abstand oben und unten text*/
}
/*Home ende*/



/*Wieso wir? bereich Anfang  Können das auch nach über uns machen*/
.Why .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}


/*Bild über uns einstellung*/
.Why .row .img-container{
    flex:40rem;
}

.Why .row .content{
    flex:1 1 40rem;
}

/*Text überscjrift*/
.Why .row .content h3{
    font-size: 3rem;
    color:#333;
}

/*Text */
.Why .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

section{
    padding:2rem 9%;
}

/*Wieso Wir alles und "wir"*/
.heading2{
    text-align: center;
    font-size: 50px;
    font-weight: 700px;
    color:#ffffff;
    padding:1rem;
    margin:2rem 0;
    background-color:rgb(0, 67, 18, 0.5);
}
/*"wir" text teil*/
.heading2 span{
    color:#023020;
}

/*Wieso wir bereich Ende*/






/*Über uns bereich Anfang*/
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}



/*Bild über uns einstellung*/
.about .row .img-container{
    flex:55rem;
}

.about .row .content{
    flex:1 1 40rem;
}

/*Text überscjrift*/
.about .row .content h3{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color:#333;
}


/*Text */
.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

section{
    padding:2rem 9%;
}

/*Über uns alles und "uns"*/
.heading{
    text-align:center;
    font-size: 50px;
    font-weight: 900px;
    color:#000;
    padding:1rem;
    margin:2rem 0;
    }
/*"Über" text teil*/
.heading span{
    color:#28682c;
}

/*Über uns bereich Ende*/



/*Kontakt Section start*/

/*Kontaktformular überschrift*/
.heading3{
    text-align: center;
    font-size: 50px;
    font-weight: 700px;
    color:#ffffff;
    padding:1rem;
    margin:2rem 0;
    background-color:rgb(0, 67, 18, 0.5);
}
.heading3 span{
    color:#023020;
}


/*Kontakt section box umrandung*/

.contact_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 15px;
    display: inline-block;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    
}
/*PAdding für grüne kontaktformular*/
.container{
    padding:2rem 9%;
}
/*Text box umrandung*/
.email_text {
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
}

/*Text style*/
.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}
/*Message Box style*/
.message-bt {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #2a2a2c;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}

/*Send Button style*/

.send_btn {
    width: 170px;
    float: left;/*roter hintergrund ist nur links*/
}

.send_btn a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #bf3d42;
    padding: 10px;
    border-radius: 30px;
}


h1 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    font-weight: normal;
    line-height: normal;
    color: var(--green);
}

/*Kontakt Section end*/












/* Footer */
.footer{
    background-color: var(--secondary-background-color);
}

.footer-container{
    gap: var(--gap);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}


.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items:flex-start;
}

.footer-title{
    color: aliceblue;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}










@media screen and (min-width: 700px) {

   

    .form-container-inner{
        align-items:stretch;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .company-data{
        order: 0;
    }

    .contact_section{
        align-items: center;

}
}

 


@media screen and (min-width: 768px) {

    .posts .article{
        grid-template-columns: 20rem 1fr;
        
    }

    
}




@media screen and (min-width: 1024px) {
   
    .menu{
        position: static;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
        
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4px;
    }
   
   

   
    .footer-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .company-data{
        grid-column: span 4;
    }

    .company-description{
        max-width: 85%;
    }

    .copyright-notice{
        margin-top: auto;
    }

   
}






  

