  /*  spezielle Eigenschaften */
  :root{
    --light-color: #131313;/* Farbe für aktuelle Seite*/
    --light-color-alt:#eef3ec;/*Farbe bei den anderen Seiten*/
    --secondary-background-color: #132727;   
    --hover-light-color: var(--light-color);
    --font-family: Verdana, Geneva, sans-serif;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --gap: 5rem;
    --background-color:#f2f4e9;
    /*versteckt den scrollbar unten horizontal*/
    overflow-y: scroll;
    overflow-x: hidden;
   
}




/* Basis styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    font-size: 70%;
}

body{
    
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 2px;
}

a{
    /* Box-hintergundfarbe beim menü*/
    background-color: #798b8f;
    border-radius: 1rem;
    padding: .9rem;
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*icon*/
input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

/*macht icons im navbereich größer*/
i{
    font-size: var(--font-size-md);
}

/*beeinflusst navbar und post container breite*/
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 1.5rem;
    
}


/*versteck login symbol beim verkleinern*/
.screen-sm-hidden{
    display: none;
}




/* Header */
.header{
    /*   position: fixed;*/ 
    
}

.btn{
    cursor: pointer;
}




.light-theme .moon-icon{
    display: block;
}


/*ist zuständig das der burgermenü erscheint*/
.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

/*verantwortlich das es vom burgersymbol zum x wird*/
.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: .8em;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #798b8f;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #CDD3C4;
}



@media screen and (min-width: 1024px) {
  

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

}


  

/* Footer */
footer{
    margin-top: auto;/*damit bleibt der footer unten*/
}



.footer-container{
	background: var(--secondary-background-color);
	width: 100%;
	text-align: left;
	font: bold;
	padding: 2rem 2rem;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer links */

.footer-container .footer-left{
	width: 40%;
}

/* Vesticum */

.footer-container h4{
	color:  #ffffff;
    font-size: 4rem;
}

/* Footer links */

.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    padding: 1rem;
    margin: .8rem;
}

/* Footer Center */

.footer-container .footer-center{
	width: 35%;
}

.footer-container .footer-center p{
	display: flex;
	color: #ffffff;
    font-size: 1.5rem;
	vertical-align: middle;
	margin:1rem;
}

.footer-container .footer-center p span{
	font-weight: bold;
	font-size:2rem;
	line-height:2;
}

/* Footer Right */

.footer-container .footer-right{
	width: 20%;
}

.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 1.5rem;
    margin: 1rem;
}

/*überschrift üver das unternehmen*/
.footer-container .footer-company-about span{
	display: flex;
	color:  #ffffff;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
}


@media (max-width: 880px) {

	.footer-container .footer-left,
	.footer-container .footer-center,
	.footer-container .footer-right{
		display: inline-block;
		width: 100%;
		text-align: center;
        
	}

	.footer-container .footer-center i{
		margin-left: 0;
	}

}





@media screen and (min-width: 700px) {

   



   
}

@media screen and (min-width:500px) {

    .posts .article{
        grid-template-columns: 20rem 1fr;
        
    }

    
}



