  /*  spezielle Eigenschaften */
  :root{
    --light-color: #131313;/* Farbe für aktuelle Seite*/
    --light-color-alt:#eef3ec;/*Farbe bei den anderen Seiten*/
    --secondary-background-color: #132727;   
    --hover-light-color: var(--light-color);
    --font-family: Verdana, Geneva, sans-serif;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --gap: 5rem;
    /*versteckt den scrollbar unten horizontal*/
    overflow-y: scroll;
    overflow-x: hidden;
   
}




/* Basis styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    font-size: 70%;
}

body{
    
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 2px;
}

a{
    /* Box-hintergundfarbe beim menü*/
    background-color: #798b8f;
    border-radius: 1rem;
    padding: .9rem;
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*icon*/
input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

/*macht icons im navbereich größer*/
i{
    font-size: var(--font-size-md);
}

/*beeinflusst navbar und post container breite*/
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 1.5rem;
    
}


/*versteck login symbol beim verkleinern*/
.screen-sm-hidden{
    display: none;
}




/* Header */
.header{
    /*   position: fixed;*/ 
    
}

/*  macht grad keinen unterschied mehr?? idk why
.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-block: 2rem;
}
*/

/*.logo{
    font-size: var(--font-size-md);
    color: #eef3ec;
}
*/
.btn{
    cursor: pointer;
}




.light-theme .moon-icon{
    display: block;
}


/*ist zuständig das der burgermenü erscheint*/
.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

/*verantwortlich das es vom burgersymbol zum x wird*/
.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: .8em;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #798b8f;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #CDD3C4;
}



@media screen and (min-width: 1024px) {
  

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

}


.Faden{
    position:absolute;
    left: 70em;
    z-index: -1;
  
  }

  
  /* Footer */



.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}


.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items:flex-start;
}

.footer-title{
    color: aliceblue;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}




@media screen and (min-width: 700px) {

   

    .form-container-inner{
        align-items:stretch;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .company-data{
        order: 0;
    }

   
}

@media screen and (min-width:500px) {

    .posts .article{
        grid-template-columns: 20rem 1fr;
        
    }

    
}



