
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.list-link:hover{
    color: var(--light-color);
}




/*SIDEMENÜ*/
.sidebar{
    background-color:#132727;
    position:fixed;
    overflow:hidden;
    padding-bottom: 2rem;



    }
    
    .sidebar a {
      color: #798b8f;                                                  
      font-family:Verdana, Geneva, sans-serif;
      padding-top: 9rem;
      text-decoration: none;
      
    }
    
    .sidebar a:hover {
      color: #ffffff;
    }
    .Liste{
      display:flex;
      padding:5px;
      text-decoration:none;
      color:inherit;
      background-color:inherit;
      cursor:pointer;
    }
    
    
/*AB HIER BODY*/
body{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    box-sizing: border-box;
}

.bg-box{
    background-color: #798b8f;
    height:max-content;
    width: 80%;
    padding: 10rem;
    align-self: center;

}


h1{
    text-align: center;
    font-size: 1.5em;
    color: #000; 
    padding:1.5rem;
    margin: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: rgb(242, 244, 233);
}

h3{
    text-align: center;
    background-color: #798b8f; 
    padding:1.5rem;
    margin: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    font-size: 2em;
    color:#ffffff;
}

h4{
    display: flex;
    padding: 1.2rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color:#ffffff;
}

.page-link{
    
    background-color: #132727;
}

.blog ,.content{
    background-color: var(--secondary-background-color);
    border-radius: 1.5rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;

}
/*abstand text zum bild*/
.blog-header{
    overflow:hidden;
    padding: 1rem;
    margin-left: 2em;
}

/* schrift bleibt hell wenn man mit der masu rüber geht */
.blog:hover .blog-header{
    background-color: var(--hover-light-color);
    color: var(--hover-dark-color);
}

.blog:hover .blog-header{
    background-color: var(--hover-dark-color);
}

/*bild passt sich dem container an*/
.blog-image{
    margin: 5px;
    float: left;
    width: 180px;
    height: fit-content;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

/* icon benutzer */
.blog-header img{
    float: right;
    display: -moz-inline-stack;
    
}

/* h2 "Artikelname" einstellen*/
.blog-header h2{
    background-color: #cdd4c5;
    padding: .8rem;
    margin: 1.5rem;
    width: 43rem;
    border-radius: 1.2rem;
}


/*Button Standort*/
.Standort {
    margin-right:5px;
    line-height: 2.5;
    padding: 0 60px;
    margin: 2.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    border-radius: 1.2rem;
    background-color:#cdd4c5;
   }

.Standort:hover {
    background-color:#000000;
}

.Standort:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}



/*Button Message*/
.msg {
    line-height: 2.5;
    padding: 0 60px;
    margin: 2.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    border-radius: 1.2rem;
    background-color:#cdd4c5;
   }

.msg:hover {
    background-color:#000000;
}

.msg:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}




/* Footer */
footer{
    margin-top: auto;/*damit bleibt der footer unten*/
    inset: auto 0 0 0;
}



.footer-container{
	background: var(--secondary-background-color);
	width: 100%;
	text-align: left;
	font: bold;
	padding: 2rem 2rem;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer links */

.footer-container .footer-left{
	width: 40%;
}

/* Vesticum */

.footer-container h4{
	color:  #ffffff;
    font-size: 4rem;
}

/* Footer links */

.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    padding: 1rem;
    margin: .8rem;
}

/* Footer Center */

.footer-container .footer-center{
	width: 35%;
}

.footer-container .footer-center p{
	display: flex;
	color: #ffffff;
    font-size: 1.5rem;
	vertical-align: middle;
	margin:1rem;
}

.footer-container .footer-center p span{
	font-weight: bold;
	font-size:2rem;
	line-height:2;
}

/* Footer Right */

.footer-container .footer-right{
	width: 20%;
}

.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 1.5rem;
    margin: 1rem;
}

/*überschrift üver das unternehmen*/
.footer-container .footer-company-about span{
	display: flex;
	color:  #ffffff;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
}


@media (max-width: 880px) {

	.footer-container .footer-left,
	.footer-container .footer-center,
	.footer-container .footer-right{
		display: inline-block;
		width: 100%;
		text-align: center;
        
	}

	.footer-container .footer-center i{
		margin-left: 0;
	}

}


@media screen and (min-width: 1024px) {
   
    .menu{
        position: static;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
        
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4px;
    }
   
}


@media screen and (max-width: 768px) {

    .blog-image, .blog-header img, .Standort,.sidebar{
        display: none;
    }

    .blog, h1{
        display:inline-block;
        overflow: hidden;
        align-items: center;
     }
      .blog{
        position: relative;
        right: 5em;
          }
    
}




