
/* Header */
.header{
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo{
  font-size: var(--font-size-md);
  color: var(--light-color);
}

.menu{
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color:var(--secondary-background-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s ease-in;
}

.list{
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu > .list{
  flex-direction: column;
}

.list-link.current{
  color: var(--light-color);
}

.close-menu-icon{
  display: none;
}

.list-link:hover{
  color: var(--light-color);
}

/*SIDEMENÜ*/
.sidebar{
position:fixed;
background-color:#cdd4c5;
overflow:hidden;
float: left;
margin-bottom: 200px;
width: 10em;
height: 350px;
padding: 10px 5px;
text-align: center;
background-color: #cdd4c5;
}

.sidebar a {
  color: #132727;  
  padding-top: 9rem;
  text-decoration: none;
  font-size: 2.5rem;

  
}
.sidebar a:hover {
  color: #ffffff;
}


.Liste{
  border:#000;
  display:inline-block;
  padding:10px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}




/*AB HIER BODY*/
body{
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  box-sizing: border-box;
}

.bg-box{
  background-color: #798b8f;
  height:max-content;
  width:60%;
  padding: 10rem;
  align-self: center;

}


h1{
  text-align: center;
  font-size: 1.5em;
  color: #000; 
  padding:1.5rem;
  margin: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: rgb(242, 244, 233);
}

h3{
  text-align: center;
  background-color: #798b8f; 
  padding:1.5rem;
  margin: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  font-size: 2em;
  color:#ffffff;
}

h4{
  display: flex;
  padding: 1.2rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color:#ffffff;
}

.blog{
  width: 600px;
  
}
.blog ,.content{
  background-color: var(--secondary-background-color);
  border-radius: 1.5rem;
  margin: 1.5rem;

}
/*abstand text zum bild*/
.blog-header{
  overflow:hidden;
  padding: 1em;

}

/* schrift bleibt hell wenn man mit der masu rüber geht */
.blog:hover .blog-header{
  background-color: var(--hover-light-color);
  color: var(--hover-dark-color);
}

.blog:hover .blog-header{
  background-color: var(--hover-dark-color);
}

/*bild passt sich dem container an*/
.blog-image{
  margin: 5px;
  float: left;
  width: 180px;
  height:min-content;
  padding: auto;
  border-radius: 1.5rem;
  
}

/* icon benutzer */
.blog-header img{
  float: right;
  margin: 1rem;
  display: -moz-inline-stack;
  
}

/* h2 "Artikelname" einstellen*/
.blog-header h2{
  background-color: #cdd4c5;
  padding: .8rem;
  margin: 1.5rem;
  width: 43rem;
  border-radius: 1.2rem;
}

/*Warenkorb*/
.cart, button{
  float:right;
  line-height: 2.5;
  padding: .5rem;
  margin: 1.5rem;
  font-size: 15px;
  text-align: center;
  color: #000000;
  border-radius: 1.2rem;
  background-color:#cdd4c5;
}

.cart:hover {
  background-color:#000000;
  color: #92999f;
}
.fa{
  font-size: 23px;
}





/* Footer */
footer{
  margin-top: auto;/*damit bleibt der footer unten*/
  inset: auto 0 0 0;
}



.footer-container{
background: var(--secondary-background-color);
width: 100%;
text-align: left;
font: bold;
padding: 2rem 2rem;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer links */

.footer-container .footer-left{
width: 40%;
}

/* Vesticum */

.footer-container h4{
color:  #ffffff;
  font-size: 4rem;
}

/* Footer links */

.footer-container .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-container .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
  padding: 1rem;
  margin: .8rem;
}

/* Footer Center */

.footer-container .footer-center{
width: 35%;
}

.footer-container .footer-center p{
display: flex;
color: #ffffff;
  font-size: 1.5rem;
vertical-align: middle;
margin:1rem;
}

.footer-container .footer-center p span{
font-weight: bold;
font-size:2rem;
line-height:2;
}

/* Footer Right */

.footer-container .footer-right{
width: 20%;
}

.footer-container .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 1.5rem;
  margin: 1rem;
}

/*überschrift üver das unternehmen*/
.footer-container .footer-company-about span{
display: flex;
color:  #ffffff;
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 2rem;
}


@media (max-width: 880px) {

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
  display: inline-block;
  width: 100%;
  text-align: center;
      
}

.footer-container .footer-center i{
  margin-left: 0;
}

}


@media screen and (min-width: 1024px) {
 
  .menu{
      position: static;
      width: initial;
      padding: initial;
      background-color: transparent;
      opacity: 1;
      transform: scale(1);
      
  }

  .menu > .list{
      flex-direction: row;
  }

  .screen-lg-hidden{
      display: none;
  }

  .screen-sm-hidden{
      display: block;
  }

  .sign-up-btn{
      padding: 4px;
  }
 
}



