
.navbar-left{
  margin-left: 9%;
  background-color: #CDD3C4;
  width: 10%;
  padding-top: 15%;
  height:100%;
  color: #132727;                                                         /* geht das nicht*/
  text-decoration: none;
  top: 75px;

}


.E-Book, .Book{
 color: #132727;                                                      /* geht das nicht*/
 font-family:Verdana, Geneva, sans-serif;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;
 text-decoration-color: #132727;



}
.dunkleumrandung{
  
  background-color: #798D90;
  height: 1050px;
  position:absolute;
  top: 75px;
  bottom: 0%;
  left: 25%;
  right: 15%;
}
/* macht das uneter überhaupt einen untersxhied?*/
.Kategorie_name{
  font-family:Verdana, Geneva, sans-serif;
 color: #132727;
 background-color: #F0F2E7;
 height: 5%;
 margin-top: 5%;
 display: absolute;
 text-align: center;
 width: 84%;
 margin-left: 8%;


}

/* Der container blockiert den navibereich*/
/* habs bissl gefixed*/
.container1{

 width: 80%;
  margin: 5%;
  padding: 2%;
  height: 35%;
  weight:20px;
  display: flex;
  position:absolute;
  top: 8%;
  background-color: #F0F2E7;
  color:#132727;
  margin-left: 8%;


}
.container2{

 width: 80%;
  margin: 5%;

  padding: 2%;
  height: 35%;
  weight:20px;
  display: flex;
  position:absolute;
  top: 50%;
  background-color: #F0F2E7;
  color:#132727;
  margin-left: 8%;


}

.Kategorie_Ueberschrift, .Kategorie_Ueberschrift2{
  font-family:Verdana, Geneva, sans-serif;
 color: #132727;
 background-color: #CDD3C4;
 height: 15%;
 display: absolute;
 text-align: center;
 width: 50%;
 margin-left: 40%;

}
.Warenkorbbild, .Warenkorbbild2 {
  margin-top: 0%;
  position: absolute;
  right: 2%;
  width: 5%;
  height: 5%;
}
.eins, .eins1, .zwei, .zwei1{
  position: absolute;
  color: #132727;
  width: 20px;
   height: 20px;
   background-color:red;
  border: 1px solid #132727;
   text-align: center;
   border-radius: 100px;
   font-family:Verdana ;
   top: 120%;
   right: 70%;
  display: none;
}

.Beschreibung, .Beschreibung2{
  height: 60%;
  position:absolute;
  margin-top: 60px;
  margin-left: 38%;
  width: 57%;
  background-color: #CDD3C4;
  font-family:Verdana ;


}




.Bild, .Bild2{
  color: #67A89C;
  left: 10px;
  margin-left: 1%;
  background-color: #798D90;
  position: absolute;
  height: 90%;
  width: 35%;
}

.Lieferstatus, .Lieferstatus2 {
  bottom: 5%;
  position: absolute;
  right: 35%;
  background-color: #CDD3C4;
  height: 10%;
  width: 25%;
  text-align: center;
  font-family:Verdana ;

}

.Warenkorb, .Warenkorb2{
  bottom: 5%;
  right: 3%;
  position: absolute;
  background-color: #CDD3C4;
  height: 10%;
  width: 30%;
  text-align: center;
/*background-color:  #67A89C;*/
}
/* DIeser button macht probleme für den navibereich*/
/* habs gefixed mit . einfügen und 1 nach button aber jetzt geht hover nicht und 2.artiekl warenkorb*/
.button1 {
display: inline-block;
background-color: #CDD3C4;
border: 0px;
text-align: center;
/*font-size: 28px;*/
padding: 5%;
width: 100%;


}

.Faden{

  position:absolute;
  top: -1px;
}
