
:root{
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.section:not(.featured-articles){
    padding-block: 5rem;
}

.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}
/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

/* Search */
.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn{
    display: inline-block;
    outline: none;
    border: 2px solid var(--secondary-background-color);
    padding: 1.5rem;
    color: var(--light-color-alt);
}

.form-input{
    border-right: none;
    width: 100%;
    background-color: var(--primary-background-color);
}

.form-btn{
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--secondary-background-color);
    text-transform: uppercase;
    width: 8rem;
}

.form-note{
    font-size: var(--font-size-xsm);
    align-self: flex-end;
}

.form-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
    display: flex;
}

/* Form JavaScript styles */
.search-form-container.activated{
    opacity: 1;
    transform: scale(1);
}

/* Featured articles */
.featured-articles{
    padding-block: 2rem;
}

.section-header-offset{
    margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
}

.fancy-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}


.article{
    position: relative;
    min-height: var(--item-min-height-md);
    margin-inline:20rem;
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color:var(--primary-background-color);
    font-size: 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    transition: background-color .5s;
}

/* Light theme color hover styles */
.article:hover .article-data-container{
    background-color: var(--hover-light-color);
    color: var(--hover-dark-color);
}

.article:hover .article-data-spacer{
    background-color: var(--hover-dark-color);
}

.article:hover .article-title{
    color: var(--hover-dark-color);
}


.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 2rem;
}



.title{
 color: #eef3ec;
}




/* posts */
.posts-grid-wrapper{
    gap: var(--gap);
}

.posts-article-image-wrapper,
.posts .article{
    min-height: var(--item-min-height-sm);
}

.posts .article{
    background-color: var(--secondary-background-color);
}

.posts-article-image-wrapper{
    position: relative;
}

.posts-grid-wrapper .article-data-container{
    position: static;
    background-color: transparent;
}




/* Footer */
.footer{
    background-color: var(--secondary-background-color);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}


.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items:stretch;
}

.footer-title{
    color: aliceblue;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}


.quote span{
    font-size: 5rem;
}

.author{
    background-color: var(--secondary-background-color);
}


@media screen and (min-width: 700px) {

   

    .form-container-inner{
        align-items:stretch;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .company-data{
        order: 0;
    }

   
}

@media screen and (min-width: 768px) {

    .posts .article{
        grid-template-columns: 25rem 1fr;
        
    }

    .posts-article-image-wrapper{
        height: auto;
    }
}


@media screen and (min-width: 1024px) {
   
    .menu{
        position: static;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
        
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4px;
    }

    

   
    .footer-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .company-data{
        grid-column: span 4;
    }

    .company-description{
        max-width: 85%;
    }

    .copyright-notice{
        margin-top: auto;
    }

   
}

.article{
  width:45rem;
  right: 20rem;
  }

@media screen and (min-width: 1200px) {
    
   
}
@media screen and (min-width: 1500px) {
   

}

 

