body, html {
   height: 100%;                    //damit die links navigationsleiste bis nach ganz unten geht

   }

body {
  background-color: #F0F2E7;
}


.navbar-right{

}

.navbar-left{
  margin-left: 5%;

  background-color: #CDD3C4;


  width: 15%;
  padding-top: 15%;
  min-height:100%;
  height:auto !important;
  height:100%;
  color: #132727;
  text-decoration: none;




}

.E-Book, .Book{
 color: #132727;
 font-family:Verdana, Geneva, sans-serif;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;



}
.dunkleumrandung{
  background-color: #798D90;
  height: 100%;
  position:absolute;
  top: 15%;
  bottom: 0%;
  left: 30%;
  right: 5%;
}




.container{

 width: 80%;
  margin: 5%;

  padding: 2%;
  height: 50%;
  weight:20px;
  display: flex;
  position:absolute;
  top: 10%;
  background-color: #F0F2E7;
  color:#132727;
  margin-left: 8%;


}

.Kategorie_Ueberschrift{
  font-family:Verdana, Geneva, sans-serif;
 color: #132727;
 background-color: #CDD3C4;
 height: 15%;
 display: absolute;
 text-align: center;
 width: 50%;
 margin-left: 40%;

}
.Warenkorbbild{
  margin-top: 0%;
  position: absolute;
  right: 2%;
  width: 5%;
  height: 5%;
}

.Beschreibung{
 background-color: yellow;
  height: 60%;
  position:absolute;
  margin-top: 60px;
  margin-left: 38%;
  width: 57%;


}




.Bild{
  color: #67A89C;
  left: 10px;
 margin-left: 1%;
  background-color: #798D90;
  position: absolute;
  height: 90%;
  width: 35%;
}

.Lieferstatus{
  bottom: 10%;
  position: absolute;
  background-color: pink;
  right: 30%;
}

.Warenkorb{
  bottom: 10%;
  right: 10%;
  position: absolute;

                                                        //background-color:  #67A89C;
}
