body, html {
   height: 100%;                    //damit die links navigationsleiste bis nach ganz unten geht
   }

.navbar-right{

}

.navbar-left{
  margin-left: 5%;

  background-color: #67A89C;


  width: 15%;
  padding-top: 15%;
  min-height:100%;
                height:auto !important;
                height:100%;



}

.E-Book, .Book{
 color: #D0DBD8;
font-family:Verdana, Geneva, sans-serif;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;


}




.container{

 width: 60%;
  margin: 5%;
  margin-left: 25%;
  padding: 2%;
  height: 60%;
  weight:20px;
  display: flex;
  position:absolute;
  bottom:0;
  background-color: #798D90;

}

.Kategorie_Ueberschrift{
  font-family:Verdana, Geneva, sans-serif;
 color: #132727;
 background-color: #F0F2E7;
 height: 15%;
 display: absolute;
 text-align: center;
 width: 40%;
 margin-left: 45%;

}
.Profilbild{
  margin-top: 0%;
  position: absolute;
  background-color: grey;
  right: 2%;
  width: 10%;
  height: 10%;
}

.Beschreibung{
 background-color: yellow;
  height: 50%;
  position:absolute;
  margin-top: 10%;
  margin-left: 42%;
  width: 50%;


}




.Bild{
  color: #67A89C;
  left: 10px;
 margin-left: 5%;
  background-color: #798D90;
  position: absolute;
  height: 80%;
  width: 35%;
}

.Standort{
  bottom: 10%;
  position: absolute;
  background-color: pink;
  right: 30%;
}

.Warenkorb{
  bottom: 10%;
  right: 10%;
  position: absolute;

                                                        //background-color:  #67A89C;
}
