.navbar{

     background-color: #264842;
     overflow: hidden;

}



ul{

    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    text-align:justify;




}


li{

    background-color: #67A89C;
    color:#D0DBD8;
    padding: 10px 10px ;
    font-size: 20px;

}

a:visited{

    color:#D0DBD8;
}



.navbar a {


    text-decoration:none ;
    padding: 10px 10px ;
    font-size: 20px;


  }

  ul :hover {

    background-color: #9beddc;
    color: black;

}

.icon{
    color:  #9beddc;;
}




/*
.Logo{



}


img{
    max-width: 100%;
}
.menu {
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #264842;
    line-height: 40px;
    text-align: center;
    padding: 5px  5px;
}


.Produkte, .Informationen, .TippsundTricks, .Shop, .Login, .Burgermenue{
   background-color: #67A89C;
   color:#D0DBD8;
   text-decoration:none ;
   padding: 10px 10px ;
   font-size: 15px;
   border-radius: 20px;



}
.Produktuebersicht, .Informationsbereich, .TippsundTricks, .Shop, .Login{
    width: 10%;
}


/* Änder Farben beim hovern beim Menu
.menu a:hover {
    background-color: #9beddc;
    color: black;

}

.Burgermenue span {

        background-color: #fff;
        border-radius: 10px;
        display: block;
        height: 6px;
        margin: 5px 5px;
        width: 30px;
        margin-left: auto;
}

      /*sollte immer den button highlighten auf der man auf de seite ist-- nochmal rüberschauen ka obs funktioniert
      menu a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
    }

    */
