body{
    height: 100%;
    width: 100%;
    background-color: #F0F2E7;
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container{
    background: #132727;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  .container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  
  }
  input{
      display: block;
      height: 50px;
      width: 100%;
      width: 95%;
      background-color: rgba(255,255,255,0.30);
      border-radius: 3px;
      padding: 0 10px;
  @ -44,3 +44,14 @@ input{
  ::placeholder{
      color: #e5e5e5;
  }
  .buttonLogin{
    margin-top: 50px;
      width: 100%;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  }